*.suo
*.user
*.ecg
*.pdf
_ReSharper.*
bin
obj
packages
/.vs/ECG/FileContentIndex/360f741b-ca8e-4815-9d6c-2d3b88347068.vsidx
/.vs/ECG/FileContentIndex/7464a40b-7925-45b3-a631-9f91f29d42de.vsidx
/.vs/ECG/v17/DocumentLayout.backup.json
/.vs/ECG/v17/DocumentLayout.json
/.vs/ECG/v17/.suo
/.vs/slnx.sqlite
/.vs/ECG/FileContentIndex/f99762a7-6bfb-476c-9d50-37499bb454f7.vsidx
